# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

SLACK_TEAM="your-team-name"
SLACK_TOKEN="your-token"

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=4394dab0624a9db7139b0b45847e0c93
# 127.0.0.1,127.0.0.2
# localhost,example.com
###< symfony/framework-bundle ###
